manf-pipeline/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "manf-pipeline"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"LocalSQLEXPRESS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LocalSQLEXPRESS'"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "khosyi-leanflow.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "leanflow"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		},
		"LocalSQLEXPRESS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost,1433"
		},
		"LocalSQLEXPRESS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "leanflow"
		},
		"LocalSQLEXPRESS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adfuser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SLFV_BUILDABLE_PRODUCT_DETAIL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MLF_DISC_ITEM_SERIAL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORDER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_OPERATION",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_SERIAL_DESC",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_SERIAL_OPER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_DISC_ITEM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.SLFV_BUILDABLE_PRODUCT_DETAIL"
							},
							{
								"name": "Destination",
								"value": "dbo.SLFV_BUILDABLE_PRODUCT_DETAIL"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "pr_part_no_id",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "pr_part_no_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "pr_part_no",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_part_no",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_sn",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_sn",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_order_no",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_order_no",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_built",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "pr_built",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "pr_etf",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "pr_etf",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "pr_oper_no",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_oper_no",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_oper_title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_oper_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_center_code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_center_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_center_title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_center_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_dept_code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_dept_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_dept_title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_dept_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_location_code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_location_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_location_title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "pr_location_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pr_disc_raised",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "pr_disc_raised",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ch_part_no",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_part_no",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_order_no",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_order_no",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_serial_no",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_serial_no",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_oper_no",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_oper_no",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_oper_title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_oper_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_center_code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_center_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_center_title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_center_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_dept_code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_dept_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_dept_title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_dept_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_location_code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_location_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_location_title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ch_location_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ch_disc_raised",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ch_disc_raised",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_SLFV_BUILDABLE_PRODUCT_DETAIL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_SLFV_BUILDABLE_PRODUCT_DETAIL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_PRODUCT",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ITEM_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PART_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PART_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_PRODUCT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_PRODUCT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_BOM",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PRODUCT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PRODUCT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VERSION",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VERSION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EXPLOSION_LEVEL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EXPLOSION_LEVEL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMP_PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COMP_PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMP_QTY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "COMP_QTY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "COMP_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COMP_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_BOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_BOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_ROUTE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.MLF_ROUTE"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ROUTE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ROUTE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLAN_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PLAN_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLAN_VERSION",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PLAN_VERSION",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PLAN_REVISION",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PLAN_REVISION",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "REV_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "REV_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OPER_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OPER_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OPER_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OPER_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLND_CENTER_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PLND_CENTER_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OPER_KEY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OPER_KEY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "STD_HOURS",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "STD_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_ROUTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_ROUTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_ORGANIZATION",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORG_KEY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ORG_KEY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CENTER_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CENTER_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CENTER_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CENTER_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEPT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DEPT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEPT_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DEPT_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOCATION_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOCATION_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOCATION_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOCATION_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_ORGANIZATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_ORGANIZATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_ORDER",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ELF_PROD_PLAN",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ELF_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_PRODUCT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ROUTE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORGANIZATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORDER_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ORDER_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACTUAL_START_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ACTUAL_START_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ACTUAL_END_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ACTUAL_END_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ORDER_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ORDER_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ITEM_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ROUTE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ROUTE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LAST_ACTIVITY_TIME_STAMP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LAST_ACTIVITY_TIME_STAMP",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ASGND_LOCATION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ASGND_LOCATION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FAIR",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "FAIR",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_ORDER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_ORDER",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_OPERATION",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ELF_PROD_PLAN",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ELF_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_PRODUCT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ROUTE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORGANIZATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OPER_KEY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OPER_KEY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OPER_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OPER_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STEP_KEY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "STEP_KEY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OPER_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OPER_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACTUAL_INQUEUE_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ACTUAL_INQUEUE_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ACTUAL_START_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ACTUAL_START_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ACTUAL_END_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ACTUAL_END_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LAST_ACTIVITY_TIME_STAMP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LAST_ACTIVITY_TIME_STAMP",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "UPDT_USERID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UPDT_USERID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ASGND_CENTER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ASGND_CENTER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ASGND_DEPARTMENT_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ASGND_DEPARTMENT_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ASGND_LOCATION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ASGND_LOCATION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPLETE_QTY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "COMPLETE_QTY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SCRAP_QTY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SCRAP_QTY",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_OPERATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_OPERATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_DISC_ITEM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ELF_PROD_PLAN",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ELF_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_PRODUCT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ROUTE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORGANIZATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DISC_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DISC_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DISC_LINE_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DISC_LINE_TITLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NOTES",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NOTES",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DISC_LINE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DISC_LINE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DISP_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DISP_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OPER_KEY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OPER_KEY",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_DISC_ITEM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_DISC_ITEM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_DISC_ITEM_SERIAL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ELF_PROD_PLAN",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ELF_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_PRODUCT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ROUTE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORGANIZATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DISC_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DISC_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOT_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOT_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SERIAL_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERIAL_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_DISC_ITEM_SERIAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_DISC_ITEM_SERIAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_PART_SECURITY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MLF_DISC_ITEM_SERIAL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORDER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_OPERATION",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_SERIAL_DESC",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_SERIAL_OPER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_DISC_ITEM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SECURITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SECURITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_PART_SECURITY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_PART_SECURITY",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_SERIAL_DESC",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ELF_PROD_PLAN",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ELF_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_PRODUCT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ROUTE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORGANIZATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOT_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOT_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SERIAL_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERIAL_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SERIAL_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERIAL_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SERIAL_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERIAL_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LAST_ACTIVITY_TIME_STAMP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LAST_ACTIVITY_TIME_STAMP",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_SERIAL_DESC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_SERIAL_DESC",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_SERIAL_OPER",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ELF_PROD_PLAN",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ELF_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_PRODUCT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ROUTE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORGANIZATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OPER_KEY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OPER_KEY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LOT_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOT_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SERIAL_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERIAL_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STEP_KEY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "STEP_KEY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SERIAL_OPER_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERIAL_OPER_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACTUAL_INQUEUE_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ACTUAL_INQUEUE_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ACTUAL_START_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ACTUAL_START_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ACTUAL_END_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ACTUAL_END_DATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LAST_ACTIVITY_TIME_STAMP",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LAST_ACTIVITY_TIME_STAMP",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_SERIAL_OPER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_SERIAL_OPER",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MLF_USER_SECURITY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MLF_DISC_ITEM_SERIAL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_ORDER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_OPERATION",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_SERIAL_DESC",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_SERIAL_OPER",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MLF_DISC_ITEM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "USER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "USER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SECURITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SECURITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_MLF_USER_SECURITY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_MLF_USER_SECURITY",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ELF_PROD_PLAN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ERP_PLAN_ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ERP_PLAN_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ROUTE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ROUTE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "AVAILABLE_STOCK",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "AVAILABLE_STOCK",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "QTY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "QTY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PLANT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ITEM_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IMPORTED_AT",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "IMPORTED_AT",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_ELF_PROD_PLAN",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_ELF_PROD_PLAN",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ELF_STOCK",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PART_NO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QTY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "QTY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "STORAGE_LOC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "STORAGE_LOC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LOCAL_ELF_STOCK",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AZURE_ELF_STOCK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-09T19:47:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LOCAL_SLFV_BUILDABLE_PRODUCT_DETAIL')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_SLFV_BUILDABLE_PRODUCT_DETAIL')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_PRODUCT')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_PRODUCT')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_BOM')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_BOM')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_ROUTE')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_ROUTE')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_ORGANIZATION')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_ORGANIZATION')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_ORDER')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_ORDER')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_OPERATION')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_OPERATION')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_DISC_ITEM')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_DISC_ITEM')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_DISC_ITEM_SERIAL')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_DISC_ITEM_SERIAL')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_PART_SECURITY')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_PART_SECURITY')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_SERIAL_DESC')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_SERIAL_DESC')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_SERIAL_OPER')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_SERIAL_OPER')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_MLF_USER_SECURITY')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_MLF_USER_SECURITY')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_ELF_PROD_PLAN')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_ELF_PROD_PLAN')]",
				"[concat(variables('factoryId'), '/datasets/LOCAL_ELF_STOCK')]",
				"[concat(variables('factoryId'), '/datasets/AZURE_ELF_STOCK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_ELF_PROD_PLAN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ELF_PROD_PLAN"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_ELF_STOCK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ELF_STOCK"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_BOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PRODUCT",
						"type": "nvarchar"
					},
					{
						"name": "VERSION",
						"type": "nvarchar"
					},
					{
						"name": "EXPLOSION_LEVEL",
						"type": "nvarchar"
					},
					{
						"name": "COMP_PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "COMP_QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "COMP_TYPE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_BOM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_DISC_ITEM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_DISC_ITEM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_DISC_ITEM_SERIAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_DISC_ITEM_SERIAL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_OPERATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_OPERATION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_ORDER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_ORDER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_ORGANIZATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_ORGANIZATION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_PART_SECURITY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_PART_SECURITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_PRODUCT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_PRODUCT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_ROUTE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_ROUTE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_SERIAL_DESC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_SERIAL_DESC"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_SERIAL_OPER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_SERIAL_OPER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_MLF_USER_SECURITY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_USER_SECURITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZURE_SLFV_BUILDABLE_PRODUCT_DETAIL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "SLFV_BUILDABLE_PRODUCT_DETAIL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_ELF_PROD_PLAN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ELF_PROD_PLAN"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_ELF_STOCK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ELF_STOCK"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_BOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "PRODUCT",
						"type": "nvarchar"
					},
					{
						"name": "VERSION",
						"type": "nvarchar"
					},
					{
						"name": "EXPLOSION_LEVEL",
						"type": "nvarchar"
					},
					{
						"name": "COMP_PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "COMP_QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "COMP_TYPE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_BOM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_DISC_ITEM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_DISC_ITEM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_DISC_ITEM_SERIAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_DISC_ITEM_SERIAL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_OPERATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "nvarchar"
					},
					{
						"name": "OPER_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OPER_NO",
						"type": "nvarchar"
					},
					{
						"name": "STEP_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TITLE",
						"type": "nvarchar"
					},
					{
						"name": "OPER_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "ACTUAL_INQUEUE_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTUAL_START_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTUAL_END_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_ACTIVITY_TIME_STAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UPDT_USERID",
						"type": "nvarchar"
					},
					{
						"name": "ASGND_CENTER_ID",
						"type": "nvarchar"
					},
					{
						"name": "ASGND_DEPARTMENT_ID",
						"type": "nvarchar"
					},
					{
						"name": "ASGND_LOCATION_ID",
						"type": "nvarchar"
					},
					{
						"name": "COMPLETE_QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SCRAP_QTY",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_OPERATION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_ORDER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_ORDER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_ORGANIZATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_ORGANIZATION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_PART_SECURITY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_PART_SECURITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_PRODUCT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_PRODUCT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_ROUTE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ROUTE_ID",
						"type": "nvarchar"
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PLAN_NO",
						"type": "nvarchar"
					},
					{
						"name": "PLAN_VERSION",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PLAN_REVISION",
						"type": "int",
						"precision": 10
					},
					{
						"name": "REV_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "OPER_NO",
						"type": "nvarchar"
					},
					{
						"name": "OPER_TITLE",
						"type": "nvarchar"
					},
					{
						"name": "PLND_CENTER_CODE",
						"type": "nvarchar"
					},
					{
						"name": "OPER_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "STD_HOURS",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_ROUTE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_SERIAL_DESC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_SERIAL_DESC"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_SERIAL_OPER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_SERIAL_OPER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_MLF_USER_SECURITY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PART_NO",
						"type": "nvarchar"
					},
					{
						"name": "PART_TITLE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MLF_USER_SECURITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCAL_SLFV_BUILDABLE_PRODUCT_DETAIL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLEXPRESS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "pr_part_no_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "pr_part_no",
						"type": "nvarchar"
					},
					{
						"name": "pr_sn",
						"type": "nvarchar"
					},
					{
						"name": "pr_order_no",
						"type": "nvarchar"
					},
					{
						"name": "pr_built",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pr_etf",
						"type": "float",
						"precision": 15
					},
					{
						"name": "pr_oper_no",
						"type": "nvarchar"
					},
					{
						"name": "pr_oper_title",
						"type": "nvarchar"
					},
					{
						"name": "pr_center_code",
						"type": "nvarchar"
					},
					{
						"name": "pr_center_title",
						"type": "nvarchar"
					},
					{
						"name": "pr_dept_code",
						"type": "nvarchar"
					},
					{
						"name": "pr_dept_title",
						"type": "nvarchar"
					},
					{
						"name": "pr_location_code",
						"type": "nvarchar"
					},
					{
						"name": "pr_location_title",
						"type": "nvarchar"
					},
					{
						"name": "pr_disc_raised",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ch_part_no",
						"type": "nvarchar"
					},
					{
						"name": "ch_order_no",
						"type": "nvarchar"
					},
					{
						"name": "ch_serial_no",
						"type": "nvarchar"
					},
					{
						"name": "ch_oper_no",
						"type": "nvarchar"
					},
					{
						"name": "ch_oper_title",
						"type": "nvarchar"
					},
					{
						"name": "ch_center_code",
						"type": "nvarchar"
					},
					{
						"name": "ch_center_title",
						"type": "nvarchar"
					},
					{
						"name": "ch_dept_code",
						"type": "nvarchar"
					},
					{
						"name": "ch_dept_title",
						"type": "nvarchar"
					},
					{
						"name": "ch_location_code",
						"type": "nvarchar"
					},
					{
						"name": "ch_location_title",
						"type": "nvarchar"
					},
					{
						"name": "ch_disc_raised",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SLFV_BUILDABLE_PRODUCT_DETAIL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LocalSQLEXPRESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LocalSQLEXPRESS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LocalSQLEXPRESS_properties_typeProperties_server')]",
					"database": "[parameters('LocalSQLEXPRESS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LocalSQLEXPRESS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LocalSQLEXPRESS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "khosyi-SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/khosyi-SHIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Sync')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-12-18T22:36:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/khosyi-SHIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}